<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css-edit/edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="buutonShow"><button>Create-quiz</button></div>
    <div class="create_quiz">
        <div class="text_show">Create-quiz</div>
        <form action="">
            <div class="title_quiz">
                <input type="quize" id="question" name="title" placeholder="Title">
            </div>
            <div class="answers">
                <div class="anser1">
                    <input type="quest" id="answer_a" name="question" placeholder="Answer1">
                    <input type="quest" id="answer_b"  name="question" placeholder="Answer2">
                </div>
                <br>
                <div class="anser2">
                    <input type="quest" id="answer_c"  name="question" placeholder="Answer3">
                    <input type="quest" id="answer_d"  name="question" placeholder="Answer4">
                </div>
            </div>
        </form>
     
    
        <div class="option">
            <div class="option"><button class="Options">Option</button></div>
            <form action="/action_page.php">
                <input class="score_chose" list="browsers" name="browser">
                <datalist id="browsers">
                <option value="5">
                <option value="8">
                <option value="10">
                <option value="12">
                <option value="14">
                </datalist>
            </form>
        <div class="addscore">
            <form 
    
            <input class="addscore" type="number" id="b" name="b" value="1">
        
            </form>
        </div>
        </div>

        <div class="oder">
            <div class="add"><button class="adds">ADD+</button></div>
        </div>

    </div>
<!-- place display form create -->
        <div id="questionList">
            
        </div>
    

    </div>

</body>
<script src="edit.js"></script>
</html>