
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAY</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css-play/play.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="inQuiz">You are in quiz right now</div>
  <button class="exit" id="exit"><a class="Home_link" href="../../index.html">Exit</a></button>
  
  <div id="container">
    <div class="showbar">
      <div class="lenQuestion">
        <div class="number_que">Question :</div>
        <div id="lengthOfQuestion"></div>
      </div>
      <div class="score">
        <div class="num_socer">Score :</div>
        <div id="score">0</div>
      </div>
    </div>
    <div class="question" >
        <div id="title">My Question </div>
    </div>
      <div id="answers">
        <div>
        <div class="answer1">
          <button id = "A" onclick="checkAnswer('A')">Answer1</button>
        </div>
        <div class="answer2">
          <button id = "B" onclick="checkAnswer('B')">Answer2</button>
        </div>
        <div class="answer3">
          <button id = "C" onclick="checkAnswer('C')">Answer3</button>
        </div>
        <div class="answer4">
          <button id = "D" onclick="checkAnswer('D')">Answer4</button>
        </div>
      </div>  
    </div>
  </div>
  <div class="total">
      <h1 id = "totalScore"></h1>
      <div>
        <button id = "btnReplay">Replay</a> </button>
      </div>
      <div>
        <button id = "btnExit"><a href="../../index.html">Exit</a></button>
      </div>
  </div>
</body>
<script src="play.js"></script>
</html>