<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play-quiz</title>
    <link rel="stylesheet" href="css-play/play.css">
    
</head>
<body>
    <div class="text_show">You are in quiz now</div>
    <div class="question">
        <div class="title_quiz">
            <div class="name_text">What is the HTML stand for ?</div>
        </div>
        <div class="answers">
            <div class="que_one">hhhhhhsf</div>
            <div class="que_two">Takkkeikdf</div>
            <div class="que_three">HKJKEKD</div>
            <div class="que_four">Speaking</div>
        </div>
        <div class="icons">
            <i class="fa fa-pencil fa-2x cons"></i>
            <i class="fa fa-trash-o fa-2x cons"></i>
        </div>
        <div class="next_quiz"><button class="next_quizs">Next</button></div>
    </div>
</body>
</html>