
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css-play/review.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<body>

    <div class="head">
        <div class="dons">
            <img class="images" src="../../images/quiz_done.jpg" alt="">
        </div>
        <div class="don_quizs">
            <div class="don_quiz">The question you have done in quiz</div>
            <div class="title">Please leave here to do your quiz</div>
        </div>
    </div>

    <div class="buttonExit">
        <button class="leave"><a href="../../index.html">Exit</a></button>
    </div>
    <div class="hodhidupDates" id="hodhids">
        <div name="createQuestion" id="container" class="containerss"></div>
    </div>
    </body>
<script src="review.js"></script>
</html>