
/* create question ---------------File EDite-----*/
    
.container{
    background: blue;
}
.create_quiz {
    width: 50%;
    margin: auto;
    border-radius: 3px;
    background: rgb(200, 200, 200);
}

.text_show {
    font-size: 25px;
    height: 5vh;
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(146, 146, 146);
}

input[type=quize] {
    padding: 20px;
    width: 900px;
    height: 3.5vh;
    font-size: 18px;
    padding: 3px 3px;
}

.anser1,
.anser2 {
    display: flex;
    /* margin: auto; */
    margin-top: 25px;
    padding: 3px 3px;
}

input[type=quest] {
    align-items: center;
    width: 300px;
    height: 3vh;
    margin: auto;
    border-radius: 3px;
    font-size: 15px;
}
.cancel ,.adds{
   margin: 3px 5px;
}
.cancel{
    width: 120px;
    height: 4vh;
    font-size: 16px;
}

.adds{
    display: flex;
    width: 100px;
    height: 4vh;
    padding: 2px 2px;
    font-size: 20px;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}
.button{
display: flex;
text-align: center;
align-items: center;
justify-content: flex-end;

}

.option{
    height: 3vh;
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 3px 3px;
}

.addscore,.score_chose{
    width: 60px;
}
.score,.number{
    width: 60px;
}
/* input[type=quest] {
width: 500px;
} */

/* place display from create */

.question{
    margin: auto;
} 
.question{
    margin-top: 20px;
    width: 950px;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    background: rgb(222, 222, 222);
    border: solid 1px rgb(176, 176, 176);
}
.title_quiz,.name_text{
    font-size: 23px;
}
.answers,.answer_one,.answer_two,.answer_three,.answer_four{
    font-size: 20px;
    margin-top: 5px;
}
.title_quiz,.answers{
    margin-top: 10px;
    padding: 5px 25px;
}
.icons{
    display: flex;
    justify-content:flex-end;
}

.cons{
    width: 40px;
    justify-content: space-between;
    padding: 4px 4px;
}
.dataQuiz{
    display: flex;
    width: 1420px;
    justify-content: space-between;
}

.showDataquiz{
    width: 100px;
    height: 4vh;
    display: flex;
    font-size: 15px;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    justify-content: center;
}
.buutonShow{
    /* margin-top: 30px; */
    position: sticky;
    top: 0;
}
.buttonShows{
    height: 4vh;
    display: flex;
    margin-left: 470px;
    align-items: center;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    position:sticky;
    top:0;
    
}

