
/* create question ---------------File EDite-----*/
.create_quiz {
    width: 50%;
    margin: auto;
    border-radius: 3px;
    background: rgb(200, 200, 200);
}

.text_show {
    font-size: 25px;
    height: 5vh;
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(146, 146, 146);
}

input[type=quize] {
    padding: 20px;
    width: 900px;
    height: 3.5vh;
    font-size: 18px;
    padding: 3px 3px;
}

.anser1,
.anser2 {
    display: flex;
    /* margin: auto; */
    margin-top: 25px;
    padding: 3px 3px;
}

input[type=quest] {
    align-items: center;
    width: 300px;
    height: 3vh;
    margin: auto;
    border-radius: 3px;
    font-size: 15px;
}
.cancel ,.adds{
   margin: 3px 5px;
}
.button{
    width: 940px;
    display: flex;
    margin: auto;
    justify-content: flex-end;
}
.cancel,.adds{
    width: 80px;
    height: 4vh;
    font-size: 18px;

}

.option,#correctAnswers{
    width: 70px;
    align-items: center;
    text-align: center;
}
.score,.numbers{
    width: 62px;
    text-align: center;
    align-items: center;
}
.option{
    height: 3.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}


/* input[type=quest] {
width: 500px;
} */

/* place display from create */

.question{
    margin: auto;
} 
.question{
    margin-top: 20px;
    width: 950px;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    background: rgb(222, 222, 222);
    border: solid 1px rgb(176, 176, 176);
}
.title_quiz,.name_text{
    font-size: 23px;
    width: 890px;
    border-radius: 5px;
    margin: auto;
    background: rgb(160, 164, 164);
}
.answers{
    width: 500px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.answer_one,.answer_two,.answer_three,.answer_four{
    background: rgb(160, 164, 164);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 8px;
    padding: 5px 5px;
}
.title_quiz,.answers{
    margin-top: 10px;
    padding: 5px 25px;
}
.icons{
    display: flex;
    justify-content:flex-end;
}

.cons{
    width: 40px;
    justify-content: space-between;
    padding: 4px 4px;
}
.dataQuiz{
    margin-top: 25px;
    display: flex;
    width: 1420px;
    justify-content: space-between;
}
.dataQuiz,a{
    text-decoration: none;
    font-size: 18px;
}
.showDataquiz{
    width: 100px;
    height: 4vh;
    display: flex;
    font-size: 15px;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    justify-content: center;
}

.buttonShows{
    height: 4vh;
    display: flex;
    margin-left: 470px;
    align-items: center;
    font-size: 17px;
    text-align: center;
    justify-content: center;
}

