
/* ------------ Place to display question------- */
.inQuiz{
    width: 500px;
    margin: 200px 700px 15px;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.exit{
    display: flex;
    width:70px;
    font-size: 20px;
    align-items:center;
    text-align: center;
    margin: 20px 430px 15px;
    justify-content: center;
}
.exit,a{
    text-decoration: none;
    
}
#container{
    width: 1000px;
    margin: auto;
    padding:28px;
    background-color:rgb(148, 182, 189);
    border-radius: 10px;
}


.showBar{
    display: flex;
    top: 0;
}
.lenQuestion,.score{
    display: flex;
}


.question{
    margin: auto;
    width: 1005px;
} 
.question{
    display: flex;
    height: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: rgb(208, 219, 219);
}
#title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 5px;
    font-size:25px;
}
#answers{
   
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    /* border-radius: 20px; */
}

#A,#B,#C,#D{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    margin: 3px 0px;
    padding: 5px 5px;
    width: 500px;
    border: none;
    font-size: 22px;
    margin-top: 15px;
    background: rgb(208, 219, 219);
}

.showbar{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}

#lengthQuestion{
    font-size: 40px;
}

#A:hover{
    background: rgb(214, 232, 232);
}
#B:hover{
    background: rgb(214, 232, 232);
}
#C:hover{
    background: rgb(214, 232, 232);
}

#D:hover{
    background: rgb(214, 232, 232);
}
